

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #eee;
  background-color: #fffcfb;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

button{
  background-color: transparent;
  border: 0;
}
input{
  outline: none;
}
.navbar-home-before-logIn {
  padding:0.4rem 0.4rem !important;
  padding: 0.1rem;
  border-radius:1%;
  z-index: 99999;
}
#navbar-home-before-logIn ul {
  list-style: none;
  overflow: hidden;
}
.navbar-home-before-logIn li {
  float: left;
}
.navbar-home-before-logIn li a {
  position: relative;
  display: block;
  color: #081722;
  text-align: center;
  z-index: 0;
  text-decoration: none;
}
#btn-home ,.btns-navbar{
  background-color: transparent;
  border: 0;
  font-weight: 900;
}
#nav-btn-logIn ,#nav-btn-signUp{
  background-color: #56cac7;
  border-radius: 2rem;
  padding:0.1rem 1rem;
  margin: 0.1rem 1rem;
  float: right;
}
#nav-btn-signUp{
  background-color: #e4e4e6;  
}
.fa-house{
  margin-left:0.1rem;
  border-radius: 50% !important;
  background-color: transparent;
  color: #aadddd;
  padding: 0.5rem;
  font-size:1rem;
}
.icon-computer-tools{
  background-image: url(../img/computer-tools.jpg);
  background-attachment: fixed;
  background-size:100% 100%;
  height: 100%;
}
.background-transparent{
  background-color: #040d18a8;
}
.text-content-computer-store{
  float: right;
  font-size:1rem;
  width:30rem;
  background-color: #2091ad69;
  border-radius: 25%;
  font-weight:900;
  padding: 2rem;
  margin-right: 1rem;
  color: #c1c3c5;
}
#page-logIn ,#page-signUp{
  background-image: url(../img/com.jpg);
  background-size: 100% 100%;
  display:flex;
  position: fixed;
  display: none ;
}
.page-content-signUp ,.page-content-logIn{
  width:25rem;
  height: 25rem;
  border-radius:1rem;
  background-color:transparent;
  box-shadow: 1px 1px 2px 2px #56cac7;
}
#email ,#password ,#password-signUp ,#email-signUp ,#age ,#first-name ,#last-name{
  background-color:#e4e2e2;
  margin-bottom:0.5rem;
  color: #058286;
}
#btn-logIn ,.style-inputs-content ,#btn-register ,#btn-logIn-signUp,#Error ,#Error-signUp{
    padding:0.5rem 1.5rem;
    width:20rem;
    border-radius:1.8rem;
    border: 0;
} 
.style-inputs-content::placeholder{
  color:#00706c;
} 
#Error ,#Error-signUp{
  position: absolute;
  top:10rem;
  right:5rem; 
  margin-top: 1rem;
  width:25rem;
  background-color: rgba(40, 195, 201, 0.74);
  display:none;
 }
 #btn-register{
  background-color:#e4e4e6 !important;
  color: #04090f;
} 
#password-signUp ,#email-signUp ,#age ,#first-name ,#last-name{
  width: 12rem;
}
#home{
  display:none;
  }
.navbar-icons{
    background-color:#033472 !important;
    padding: 0.1rem 0.3rem !important;
    height: 2.2rem !important;
}
.icon-house{
  background-color: transparent !important;
  color: #e4e2e2;
}
.fa-facebook ,.fa-instagram ,.fa-youtube ,.fa-tiktok{
  transition-delay:0.2s !important;
  
}
.fa-facebook:hover{
  color: #19bcc2;
}
.fa-youtube:hover{
  color: #e00d0d;
}
.fa-instagram:hover{
  color: #ff2ff5;
}
.fa-tiktok:hover{
  color: #181625;
}
.navbar-products{
  background-color: #fdfdfd77 !important;
  z-index:9999999 !important ;
  height:5rem;
  box-shadow: 1px 1px 1px rgba(161, 154, 154, 0.815);
  padding: 0.2rem 0.2rem;
}
#cars-sopping-total{
  background-color: transparent;
   font-size:1.5rem;
   color: rgb(22, 23, 24);
   border-radius:2rem;
   padding:0.5rem 1rem;
   height:3.5rem;
   display:block;   
   margin-top: 1.1rem; 
 }
 
#Products-counter{
  margin-left: 0.7rem;
  margin-top:-2.6rem;
  color:#033472;
}  
swiper-container {
  width: 100%;
  height: 85%;
  margin-top:-0.9rem;
}
.imges-swiper{
  background-image: url(../img/images-swiper.png);
  background-size:100% 100%;
}
swiper-slide {
  font-size: 18px;
  display: flex;
}
swiper-slide img {
  display: block;
  object-fit: cover;
}
.search-product::placeholder ,#icon-search{
  color:rgb(1, 111, 145) !important;
}
#input-search-product{
  border: solid 1px rgb(1, 111, 145);
  border-radius: 2rem;
  padding:0.5rem 0.5rem;
  width: 30rem;
}
#icon-search{
  background-color: transparent;
  border: solid 1px rgb(1, 111, 145);
  border-radius: 2rem;
  padding: 0.7rem 0.7rem;
}
#product-preview-image{
  overflow: hidden;
  display: none;
}
.row{
  flex-wrap:wrap;
}
.card {
  perspective: 150rem;
  position: relative;
  height:10rem;
  border-radius: 50%;
  border:solid 0.1rem #56cac7;
  margin:2rem;
  margin-top: 5rem;
  max-width:100px;
  box-shadow: none;
  background: none;
}
.card-side{
 height:10rem;
 border-radius:15px;
 transition: all 0.8s ease;
 backface-visibility: hidden;
 position: absolute;
 top: 0;
 left: 0;
 padding: 2rem;
 display:inline;
}
.card-side.back {
  transform: rotateY(-180deg);
}
.card:hover .card-side.front {
  transform: rotateY(180deg);
}
.card:hover .card-side.back {
  transform: rotateY(0deg);
}
.text-error{
  width: 25rem;
  font-size: 1rem;
  font-weight: 800;
  background-color: rgba(200, 80, 192, 0.733);
  display: none;
  margin: 1rem auto auto;
  border-radius: 2rem;
  padding: 0.7rem;
}
#page-layer-search{
  background-color: #000000ea;
  z-index: 9999999;
  flex-wrap:wrap;
  display: none;
}
#contentsPageLayerSearch{
  display:  block !important;
}
#input-search::placeholder, #input-productPrice::placeholder{
  color:#aadddd;
}
#input-search ,#input-productPrice{
  width:50rem;
  text-align: center;
  background-color: transparent;
  border-bottom:solid 3px rgb(5, 24, 44);
  margin: auto;
  border: 0;
  border-bottom: solid 2px #f3f3f39a ;
  margin-bottom: 2rem;
  padding:0.5rem 0.5rem;
  color: #e6f6ff;
}
#btn-search{
  margin-left: 1rem;
  font-size: 1.2rem;
  object-fit: fill;
  border-radius: 2rem;
  padding: 0.5rem;
  background-color: #fdfeff;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #31888b;
  border: solid 1px #31888b;
  display: block;   
}
.style-text-error{
 background-color: #c1c3c5;
 color: #00706c;
}
#layer-page-logIn{
  position:fixed;
  background-color: #2521217c;
  z-index: 999999; 
  display: none; 
}
#content-layer-logIn{
  width:25rem;
  height: 28rem;
  border-radius:1rem; 
  background-color:#ffffff;
}
#login-layer-text{
  color: #323941;
  font-size:1.6rem;
}

.icon-facebook ,.icon-google{
  border-radius: 0;
  margin:0.3rem;
  font-size:0.7rem;
  color: #e4e4e6;
  padding:0.2rem;
}
.btn-facebook ,.btn-google{
  background-color:#0c185e;
  border:0;
  padding:0.3rem;
  font-size:0.8rem;
  font-weight: 100;
  padding-left: 1.8rem;
  padding-right:1.8rem;
  margin-right: 1rem;
  border-radius:1.9rem;
}
.btn-google{
  background-color:#c92f1b;
  box-shadow:1px 1px 3px #04090f;
  color: #e7ebee;
}
.icon-google{
  font-size:0.8rem;
  background-color: transparent;
}
#layer-input-email ,#layer-input-password{
  background-color: #08172210;
  border-radius:0.5rem;
  padding: 0.5rem 0.5rem;
  border: 0;
  width:80%;
}
.layer-label-email ,.layer-label-password{
  float: left;
  margin-left:2.5rem;
  margin-top: 0.5rem;
  margin-right: 4rem;
  font-weight: 400;
  font-size:1rem;
}
#error-layer-logIn{
  background-color: #a52920 !important;
  color: #d6d9db;
  margin-top:-1rem !important;
  margin-bottom: 0.2rem !important;
  width:85%;
  border-radius: 2rem;
  padding: 1rem;
  z-index: 99999;
  display: none;
  
}
#layer-btn-logIn{
  background-color: #303636;
  width:80% !important;
  color: #e4e2e2;
  border-radius:0.5rem;
  padding:0.4rem 0.2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

 #search-product{
  display: none;
 }
 








/**/



 
#no-product{
  display: none;

 }



 .section-end{
  background-color: #033472;
  padding:1rem 1rem;
  height:15rem;
  bottom: 0;
}




/*
#purchase-data{

} 
*/



products5 ,.btn-buy ,.btn-Final-purchase ,#total-money ,.cars-sopping-total{
  background-color: #cfe4ff;
  color:#040d18;

  color: #033472;
}

#purchase-data{
  background-color: #eef3f880;
  box-shadow:1px 1px 3px #033472 ;
  
}

.nav-search{
  background-color: #04090f;
}
.products{
  background-color: #fbffff;
}
.btn-Final-purchase ,#next ,#prev ,#close{
  color:rgb(204, 234, 245);
  background-color:#081722;
}

.styleColor{
  color: #d6d9db;

}

.cars-sopping-total
.icon-computer{
  font-size: 3rem;
}

button ,.nav-link{
  font-weight: 900 !important;
}
#store-products ,#lightbox-item{
  display:flex;
}
#store-products{
  flex-wrap:wrap;
} 


.button-shrink, .store {
    width:30%;
    background-color:rgb(101, 181, 246);;
    cursor:pointer;
    border: 0;
    border-radius: 2rem;
    float:right;
    margin-top: 1rem;
    padding: 0px 16px;
    transition: all 0.3s ease-in-out 0s;
}
.button-shrink:hover {
    transform: scale(0.8);
}

h3{
    font-size: 1.1rem;
    color:#081722;
    margin-left: 0.4rem;
    margin-top: 0.2rem;
}
.h3-salary{
display:inline;
}


.products5 {
    margin-top: 3rem;
    max-width: 40rem;
    height: 24rem;
    margin-bottom: 3rem;
    display: inline;
    border:1px solid rgb(204, 234, 245);
    border-radius: 10px;
}

.salary-type {
  width: 40rem;
  text-align: center;
  display: inline-block;
}
.type{
  color: rgb(228, 228, 230);
  font-weight: 900;
  font-size: 1.4rem;
  margin: 5rem 0.5rem 0.5rem;
}
h5{
  color: rgb(228, 228, 230);
  font-size: 1.5rem;
  font-weight: 600;
}
.store {
    width: 40rem;
    margin-top: 0.2rem;
    margin-left: 5px;
    margin-bottom: 2rem;
    padding: 10px 16px;
    color: #081722;
    border: 0;
}
.btn-buy ,.store{
  background-color:rgb(204, 234, 245) !important;
    color: #040d18;
}
.btn-buy, .btn-Final-purchase {
    width: 40rem;
    margin-top: 0.2rem;
    margin-left: 5px;
    margin-bottom: 2rem;
    padding: 10px 16px;
    border: 0;
    border: 0;
}
.style-Product-Cart {
  border: 1px solid rgb(204, 234, 245);
  border-radius: 1rem;
  width:100%;
  justify-content: space-between;
  margin-top: 2rem;
  flex-wrap:nowrap;
  padding: 1.2rem;
}
.btn-product-cart{
color: #040d18;
} 
.name-and-salary{
color: rgb(204, 234, 245);
}
h6{
color:rgb(204, 234, 245);
text-align: center;
}
#lightbox-container {
  background-color: rgba(0, 0, 0, 0.6);
  z-index:99;
  display: none ;
}
#lightbox-item{
width:45rem;
height:28rem;
border:2px solid #0093E9;
overflow: hidden;
border-radius: 2rem;
background-size:100% 100%;
}
#next ,#prev ,#close{
overflow: hidden;
border-radius: 20rem;
}
#total-money{
    width: 20rem;
    text-align: center;
    display: none;
    padding: 0.5rem 2.5rem;
    border-radius: 2rem;
    border-width: 0px;
    margin: 2rem auto;
}
#purchase-data {
    width: 40rem;
    height: 25rem;
    margin: 3rem auto auto;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    display: none;
}
.products-carts{
  overflow: hidden;
}

.inputs{
  width:25rem;
  display: inline;
  margin-top: 1rem;
  border-width: 0px;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
}
h4{
  font-size: 1rem;
  color:#081722;
  font-weight: 800;
}


.btn-Final-purchase {
  margin-top: 2rem;
  border-radius: 2rem;
  width:35rem;
  border: 0;
  margin-left:1.8rem;
  margin-bottom: 2rem;
  padding: 10px 16px;
  color:rgb(213, 255, 250);
}
@media screen and (min-width:500px) {
html{
  font-size:18px;
}
}
@media screen and (min-width:500px) and (max-width:759px) {
  html{
    font-size:15px;
  }
}
@media screen and (min-width:759px) and (max-width:959px) {
  html{
      font-size:15px;
  }
}
@media screen and (min-width:959px){
  html{
      font-size:16px;
  }
}
.btn-section-end{
  background-color: transparent;
  color: #e4e4e6;
  border: 0;
 margin-left: 1.2rem;
 font-size: 0.9rem;
}
h6{
font-size: 1rem;
}
.text-swiper{
  font-weight:500;
  font-size:3rem;
  width:57%;
}
.icons{
  padding: 0.5rem 0.3rem;
  padding-left: 2rem;
  color: antiquewhite
}
.text-no-product{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*
.img{
  border-bottom: solid 2px #b1b8be8f;
  width: 120%;
  margin-left: -1.3rem;
  margin-top: -2rem;
}
.products{
  margin-top: 3rem;
  border-radius: 10px;
}
.products{
  background-color:#eee;
  background-color: #fffcfb;
  padding: 1rem;
  width:25%;
  box-shadow:1px 1px 1px 3px #b1b8be8f;
  transition: all 3s;
}
.products:hover{
transform: scale(1.9,1.7);
background-color: #0093E9;
}

*/
 
#btn-preview{
  opacity: 0;
  transition: all 1s;
  position: absolute;
  left:-20rem;
  border: 0;
  margin-top:2rem ;
  background-color: #f7f7f7;
  color:#033472 ;
  width: 80%;
  border: solid 1px #033472;
  padding:0.2rem 0.2rem;
}

.product-preview-wrapper{
  box-shadow:1px 1px 1px 3px #b1b8be8f;
  background-color: #fffcfb;
  width:15rem;
  height:25rem;
  margin-top: 2rem;
  transition: all 1s;
  overflow: hidden;
  margin-left: 2rem;
  max-width: 25rem;
}
.icon-eye{

  font-size:2rem;
  opacity: 0;
  transition: all 2s;
  position: absolute;
  color: #033472;
  bottom: 1rem;
  left: -20rem;
}
.img-preview{
  border-bottom: solid 2px #b1b8be8f;
  margin-top: -2rem;
  border-radius:0.5rem;
}
.product-preview{
  width:100%;
  height:100%;
  margin-top: 2rem;
}
.product-preview-wrapper:hover{
  transform: scale(1 , 1.1);
  box-shadow:2px 3px 4px 5px #b1b8be8f;
} 
.product-preview-wrapper:hover #btn-preview {
  opacity: 1;
  left:1.3rem;

}
.product-preview-wrapper:hover .icon-eye{
  opacity: 1;
  left:7rem;
  bottom:1rem;
}
.icon-add-cart{
  position: absolute;
  right:-20rem;
  opacity: 0;
  bottom: 1rem;
  transition: all 2s;
}
.product-preview-wrapper:hover .icon-add-cart{
  opacity: 1;
  right:9rem;
  bottom:1rem;
}






/*.loader {
  width: 48px;
  height: 48px;
  position: relative;
  left: 50em;
  top: 23em;
}
.loader::before , .loader::after{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  width: 48em;
  height: 48em;
  background-image:
    radial-gradient(circle 10px, #FFF 100%, transparent 0),
    radial-gradient(circle 10px, #FFF 100%, transparent 0),
    radial-gradient(circle 10px, #FFF 100%, transparent 0),
    radial-gradient(circle 10px, #FFF 100%, transparent 0),
    radial-gradient(circle 10px, #FFF 100%, transparent 0),
    radial-gradient(circle 10px, #FFF 100%, transparent 0),
    radial-gradient(circle 10px, #FFF 100%, transparent 0),
    radial-gradient(circle 10px, #FFF 100%, transparent 0);
  background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em,
                       13em -13em, -13em -13em, 13em 13em, -13em 13em;
    background-repeat: no-repeat;
  font-size: 0.5px;
  border-radius: 50%;
  animation: blast 1s ease-in infinite;
}
.loader::after {
  font-size: 1px;
  background: #fff;
  animation: bounce 1s ease-in infinite;
}

@keyframes bounce {
  0% , 100%{ font-size: 0.75px }
  50% { font-size: 1.5px }
}
@keyframes blast {
  0% , 40% {
    font-size: 0.5px;
  }
  70% {
    opacity: 1;
    font-size: 4px;
  }
   100% {
     font-size: 6px;
    opacity: 0;
  }
}*/


/*
.loader {
  font-size: 48px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #263238;
  box-sizing: border-box;
  text-shadow: 0 0 2px #FFF, 0 0 1px #FFF, 0 0 1px #FFF;
  letter-spacing: 2px;
  position:relative;
}
.loader::after {
  content: 'Loading';
  position: absolute;
  left: 0;
  top: 0;
  color: #FFF;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  animation: animloader 6s linear infinite;
}

@keyframes animloader {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
*/


.loader {
  color: #FFF;
  position: relative;
  display: inline-block;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  letter-spacing: 4px;
  box-sizing: border-box;
}
.loader::before {
  content: '';  
  position: absolute;
  right: 70px;
  bottom: 10px;
  height: 28px;
  width: 5.15px;
  background: currentColor;
  box-sizing: border-box;
  animation: animloader1 1s linear infinite alternate;
}
.loader::after {
  content: '';  
  width: 10px;
  height: 10px;
  position: absolute;
  left: 125px;
  top: 2px;
  border-radius: 50%;
  background: rgb(25, 0, 255);
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}
.loading{
  display:block;
  position: relative;
  z-index: 99999999;
  background-color: #060a11;

}

@keyframes animloader {
  0% {
    transform: translate(0px, 0px) scaleX(1);
  }
  14% {
    transform: translate(-12px, -16px) scaleX(1.05);
  }
  28% {
    transform: translate(-27px, -28px) scaleX(1.07);
  }
  42% {
    transform: translate(-46px, -35px) scaleX(1.1);
  }
  57% {
    transform: translate(-70px, -37px) scaleX(1.1);
  }
  71% {
    transform: translate(-94px, -32px) scaleX(1.07);
  }
  85% {
    transform: translate(-111px, -22px) scaleX(1.05);
  }
  100% {
    transform: translate(-125px, -9px) scaleX(1);
  }
}

@keyframes animloader1 {
  0% {
    box-shadow: 0 -6px, -122.9px -8px;
  }
  25%, 75% {
    box-shadow: 0 0px, -122.9px -8px;
  }
  100% {
    box-shadow: 0 0px, -122.9px -16px;
  }
}
.spinner{
  z-index:999999999;
  background-color: #060a11;
}

.loader-two {
  width: 48px;
  height: 48px;
  margin :1rem ;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color:#0029de #0000 #fff #0000;
  border-radius: 50%;
  box-sizing: border-box;
  animation: 1s rotate linear infinite;
}
.loader-two:before , .loader-two:after{
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color:#fff;
  transform: translate(-10px, 19px) rotate(-35deg);
}
.loader-two:after {
  border-color: #0034de #0000 #0000 #0000 ;
  transform: translate(32px, 3px) rotate(-35deg);
}
 @keyframes rotate {
  100%{    transform: rotate(360deg)}
}