body {
  background-color: #f8f8f8;  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input{
  outline: none;
}
i ,.logo ,#logOut{
  cursor: pointer;
}
.nav-link
,.navbar-toggler{
  box-shadow: none !important;
  transition: 1s all;
} 
.navbar-toggler:hover{
  background-color: #e4e5eb !important;
  color: #2521217c !important;
}
.nav{
  background-color: #f3f3f3 !important;
}
.navbar-toggler-icon{
  box-shadow: none !important;
  border: 0 !important;
}
button{
  background-color: transparent;
  border: 0;
}
.navbar-home-before-logIn {
  padding:0.4rem 0.4rem !important;
  padding: 0.1rem;
  border-radius:1%;
  z-index: 99999;
}
#navbar-home-before-logIn ul {
  list-style: none;
  overflow: hidden;
}
.navbar-home-before-logIn li {
  float: left;
}
.navbar-home-before-logIn li a {
  position: relative;
  display: block;
  color: #081722;
  text-align: center;
  z-index: 0;
  text-decoration: none;
}
#btn-home ,.btns-navbar{
  background-color: transparent;
  border: 0;
  font-weight: 900;
}
.house{
  margin-left:0.1rem;
  border-radius: 50% !important;
  background-color: transparent;
  color: #aadddd;
  padding: 0.5rem;
  font-size:1rem;
}
#nav-btn-logIn ,#nav-btn-signUp{
  width: 7rem;
  text-align: center;
  background-color: #56cac7;
  border-radius: 0.2rem;
  padding:0.3rem 0.7rem;
  margin: 0.1rem 1rem;
  float: right;
}
#btn-logIn ,#btn-register ,#btn-logIn-signUp{
  background-color: #56cac7 !important;
}
#nav-btn-signUp{
  background-color: #e4e4e6;  
}
.icon-computer-tools{
  background-image: url(../img/computer-tools.jpg);
  background-attachment: fixed;
  background-size:100% 100%;
  height: 100%;
}
.background-transparent{
  background-color: #040d18a8;
}
.text-content-computer-store{
  float: right;
  font-size:1rem;
  width:30rem;
  background-color: #2091ad69;
  border-radius: 25%;
  font-weight:900;
  padding: 2rem;
  margin-right: 1rem;
  color: #c1c3c5;
}
#page-logIn ,#page-signUp{
  background-image: url(../img/com.jpg);
  background-size: 100% 100%;
  display:flex;
  position: fixed;
  display: none ;
}
.page-content-signUp ,.page-content-logIn{
  width:25rem;
  height: 25rem;
  border-radius:1rem;
  background-color:transparent;
  box-shadow: 1px 1px 2px 2px #56cac7;
}
#email ,#password ,#password-signUp ,#email-signUp ,#phone ,#first-name ,#rePassword{
  background-color:#e4e2e2;
  margin-bottom:0.5rem;
  color: #058286;
}
#btn-logIn ,.style-inputs-content ,#btn-register ,#btn-logIn-signUp,#Error ,#Error-signUp{
  padding:0.5rem 1.5rem;
  width:20rem;
  border-radius:1.8rem;
  border: 0;
} 
.style-inputs-content::placeholder{
  color:#00706c;
} 
#Error ,#Error-signUp{
  position: absolute;
  top:10rem;
  right:5rem; 
  margin-top: 1rem;
  width:25rem;
  background-color: rgba(40, 195, 201, 0.74);
  display:none;
 }
#btn-register{
  background-color:#e4e4e6 !important;
  color: #04090f;
} 
#password-signUp ,#email-signUp ,#phone ,#first-name ,#rePassword{
  width: 12rem;
}
#home{
  display:none;
  }
.navbar-icons{
    background-color:#033472 !important;
    padding: 0.1rem 0.3rem !important;
    height: 2.2rem !important;
}
.icon-house{
  background-color: transparent !important;
  color: #e4e2e2;
}
.fa-facebook ,.fa-instagram ,.fa-youtube ,.fa-tiktok{
  transition-delay:0.2s !important;
}
.fa-facebook:hover{
  color: #19bcc2;
}
.fa-youtube:hover{
  color: #e00d0d;
}
.fa-instagram:hover{
  color: #ff2ff5;
}
.fa-tiktok:hover{
  color: #181625;
}
.navbar-products{
  background-color: #f3f3f3 !important;
  z-index:9999999 !important ;
  padding: 0.8rem 0.8rem !important;
}
.collapse{
  background-color: #f3f3f3 !important;
  padding: 0.8rem 0.8rem !important;
}
#cars-sopping-total{
  background-color: transparent;
   font-size:1.5rem;
   color: rgb(22, 23, 24);
   border-radius:2rem;
   padding:0.5rem 1rem;
   height:3.5rem;
   display:block;   
   margin-top: 1.1rem; 
 }
 #btn-preview{
  opacity: 0;
  transition: all 1s;
  position: absolute;
  left:-20rem;
  border: 0;
  margin-top:2rem ;
  background-color: #f7f7f7;
  color:#033472 ;
  width: 80%;
  border: solid 1px #033472;
  padding:0.2rem 0.2rem;
}
#Products-counter{
  margin-left: 0.7rem;
  margin-top:-2.6rem;
  color:#033472;
}  
swiper-container {
  width: 100%;
  height: 85%;
  margin-top:-0.9rem;
}
.imges-swiper{
  background-image: url(../img/images-swiper.png);
  background-size:100% 100%;
}
swiper-slide {
  font-size: 18px;
  display: flex;
}
swiper-slide img {
  display: block;
  object-fit: cover;
}
.search-product::placeholder ,#icon-search{
  color:rgb(1, 111, 145) !important;
}
#input-search-product{
  border: solid 1px rgb(1, 111, 145);
  border-radius: 2rem;
  padding:0.5rem 0.5rem;
  width: 30rem;
}
#icon-search{
  background-color: transparent;
  border: solid 1px rgb(1, 111, 145);
  border-radius: 2rem;
  padding: 0.7rem 0.7rem;
}
#product-preview-image{
  overflow: hidden;
  display: none;
}
.row{
  flex-wrap:wrap;
}
.card {
  perspective: 150rem;
  position: relative;
  height:10rem;
  border-radius: 50%;
  border: 0;  
  box-shadow:1px 1px 0.1px 0.3px #b1b8be8f;
  background-color: #fffcfb;
  margin:2rem;
  margin-top: 5rem;
  max-width:100px;
  cursor: pointer;
}
.card-side{
 height:10rem;
 border-radius:0.5rem;
 transition: all 0.8s ease;
 backface-visibility: hidden;
 position: absolute;
 top: 0;
 left: 0;
 padding: 2rem;
 display:inline;
}
.card-side.back {
  transform: rotateY(-180deg);
}
.card:hover .card-side.front {
  transform: rotateY(180deg);
}
.card:hover .card-side.back {
  transform: rotateY(0deg);
}
.text-error{
  width: 25rem;
  font-size: 1rem;
  font-weight: 800;
  background-color: rgba(200, 80, 192, 0.733);
  display: none;
  margin: 1rem auto auto;
  border-radius: 2rem;
  padding: 0.7rem;
}
#page-layer-search{
  background-color: #000000ea;
  z-index: 9999999;
  flex-wrap:wrap;
  display: none;
}
#contentsPageLayerSearch{
  display:  block !important;
}
#input-search::placeholder, #input-productPrice::placeholder{
  color:#aadddd;
}
#input-search ,#input-productPrice{
  width:50rem;
  text-align: center;
  background-color: transparent;
  border-bottom:solid 3px rgb(5, 24, 44);
  margin: auto;
  border: 0;
  border-bottom: solid 2px #f3f3f39a ;
  margin-bottom: 2rem;
  padding:0.5rem 0.5rem;
  color: #e6f6ff;
}
#btn-search{
  margin-left: 1rem;
  font-size: 1.2rem;
  object-fit: fill;
  border-radius: 2rem;
  padding: 0.5rem;
  background-color: #fdfeff;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #31888b;
  border: solid 1px #31888b;
  display: block;   
}
.style-text-error{
 background-color: #c1c3c5;
 color: #00706c;
}
#layer-page-logIn{
  position:fixed;
  background-color: #2521217c;
  z-index: 999999; 
  display: none; 
}
#content-layer-logIn{
  width:25rem;
  height: 28rem;
  border-radius:1rem; 
  background-color:#ffffff;
}
#login-layer-text{
  color: #323941;
  font-size:1.6rem;
}
.icon-facebook ,.icon-google{
  border-radius: 0;
  margin:0.3rem;
  font-size:0.7rem;
  color: #e4e4e6;
  padding:0.2rem;
}
.btn-facebook ,.btn-google{
  background-color:#0c185e;
  border:0;
  padding:0.3rem;
  font-size:0.8rem;
  font-weight: 100;
  padding-left: 1.8rem;
  padding-right:1.8rem;
  margin-right: 1rem;
  border-radius:1.9rem;
}
.btn-google{
  background-color:#c92f1b;
  box-shadow:1px 1px 3px #04090f;
  color: #e7ebee;
}
.icon-google{
  font-size:0.8rem;
  background-color: transparent;
}
#layer-input-email ,#layer-input-password{
  background-color: #08172210;
  border-radius:0.5rem;
  padding: 0.5rem 0.5rem;
  border: 0;
  width:80%;
}
.layer-label-email ,.layer-label-password{
  float: left;
  margin-left:2.5rem;
  margin-top: 0.5rem;
  margin-right: 4rem;
  font-weight: 400;
  font-size:1rem;
}
#error-layer-logIn{
  background-color: #a52920 !important;
  color: #d6d9db;
  margin-top:-1rem !important;
  margin-bottom: 0.2rem !important;
  width:85%;
  border-radius: 2rem;
  padding: 1rem;
  z-index: 99999;
  display: none;  
}
#layer-btn-logIn{
  background-color: #303636;
  width:80% !important;
  color: #e4e2e2;
  border-radius:0.5rem;
  padding:0.4rem 0.2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
#search-product ,#no-product{
  display: none;
}
.btns-details  ,.btn-Final-purchase ,#total-money ,.cars-sopping-total{
  background-color: #033472;
  color: #f3f3f3;
}
#purchase-data{
  background-color: #e4e4e4d2;
  box-shadow:1px 1px 0.1px 0.3px #b1b8be8f;
}
.nav-search{
  background-color: #04090f;
}
.products{
  background-color: #fbffff;
}
#next ,#prev ,#close{
  color:rgb(204, 234, 245);
  background-color:#081722;
}
.styleColor{
  color: #d6d9db;
}
.cars-sopping-total
.icon-computer{
  font-size: 3rem;
}
button ,.nav-link{
  font-weight: 600 !important;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-link:hover{
  color: #06103d !important;
}
#store-products ,#lightbox-item{
  display:flex;
}
#store-products{
  flex-wrap:wrap;
} 
.button-shrink {
    background-color: #214ead;
    cursor:pointer;
    border: 0;
    border-radius: 2rem;
    margin-top: 1rem;
    padding: 0px 16px;
    transition: all 0.3s ease-in-out 0s;
}
.button-shrink:hover {
    transform: scale(0.8);
}
h3{
    font-size: 1.1rem;
    color:#081722;
    margin-left: 0.4rem;
    margin-top: 0.2rem;
}
.h3-salary{
  display:inline;
  font-size: 1.3rem;
  font-weight: 700;
}
.text-main{
  color: rgb(228, 228, 230);
  font-size: 1.5rem;
  font-weight: 600;
}
.btns-details , .btn-Final-purchase {
  width:30rem;
  margin-top: 0.2rem;
  margin-left: 5px;
  margin-bottom: 2rem;
  padding: 10px 16px;
  border: 0;
  border: 0;
}
.style-Product-Cart {
  border-radius: 0.8rem;
  justify-content: space-between;
  margin-top:2rem;
  flex-wrap:wrap;
  padding: 1.2rem;
  box-shadow:0.1px 0.1px 0.1px 0.1px #140a7285;
  background-color: #e2e2e2;
}
.img{
  border-radius: 1rem;
}
.btn-product-cart{
  color:rgb(240, 245, 250) ;
  border-radius: 2rem;
  margin-top: 1rem;
  padding: 0px 16px;
  background-color: #021c70 !important;
  font-weight: 200 !important;
} 
#lightbox-container {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index:9999999;
  display: none ;
}
#lightbox-item{
  width:45rem;
  height:28rem;
  overflow: hidden;
  border: 0;
  border-radius: 0.5rem;
  background-size:100% 100%;
}
#next ,#prev ,#close{
  overflow: hidden;
  border-radius: 20rem;
}
#total-money{
  width: 20rem;
  text-align: center;
  display: none;
  padding: 0.5rem 2.5rem;
  border-radius: 2rem;
  border-width: 0px;
  margin: 2rem auto;
  background-color: #02246d !important;
  color: #d6d9db !important;}
#purchase-data{
  width: 50rem;
  height: 27rem;
  margin: 3rem auto auto;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  display: none;
}
.products-carts{
  overflow: hidden;
}
#product-carts{
  flex-wrap: wrap;
}
.inputs{
  width:25rem;
  display: inline;
  margin-top: 1rem;
  border-width: 0px;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
}
h4{
  font-size: 1rem;
  color:#081722;
  font-weight: 800;
}
.btn-Final-purchase {
  margin-top: 2rem;
  border-radius: 2rem;
  width:25rem;
  border: 0;
  margin-bottom: 2rem;
  padding: 10px 16px;
}
.btn-section-end{
  background-color: transparent;
  color: #e4e4e6;
  border: 0;
  margin-left: 1.2rem;
  font-size: 0.9rem;
}
h6{
  font-size: 1rem;
}
.text-swiper{
  font-weight:500;
  font-size:3rem;
  width:57%;
}
.icons{
  padding: 0.5rem 0.3rem;
  padding-left: 2rem;
  color: #e4e2e2;
}
.name{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
  color: #033472;
}
.plus ,.minus{
  color: #033472;
}
.description{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-family: 'Times New Roman', Times, serif;
color: #b6b6b6fd;
font-family: serif;
}
.text-no-product{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 
#btn-preview{
  opacity: 0;
  transition: all 1s;
  position: absolute;
  left:-20rem;
  border: 0;
  margin-top:2rem ;
  background-color: #f7f7f7;
  color:#033472 ;
  width: 80%;
  border: solid 1px #033472;
  padding:0.2rem 0.2rem;
}
.product-preview-wrapper{
  cursor: pointer;
  box-shadow:1px 1px 0.1px 0.3px #b1b8be8f;
  background-color: #fffcfb;
  width:15rem;
  height:27rem;
  margin-top: 2rem;
  transition: all 1s;
  overflow: hidden;
  border-radius: 0.2rem;
  margin-left: 2rem;
  max-width: 25rem;
}
.product-preview-wrapper:hover{
  box-shadow:1x 1px 0.4px 0.5px #b1b8be8f;
}
.preview{
  height:50%;  
  overflow: hidden;
}
.img-preview{
  height: 100%;
  transition: 1s all;
  border-bottom: solid 2px #b1b8be8f;
  border-radius:0.5rem;
}
.product-preview-wrapper:hover .img-preview{
  transform: scale(1 , 1.1);
}
.product-preview-wrapper:hover #btn-preview {
  opacity: 1;
  left:1.3rem;
}
.product-preview-wrapper:hover .icon-eye{
  opacity: 1;
  left:7rem;
  bottom:1rem;
}
.product-preview-wrapper:hover .icon-add-cart{
  opacity: 1;
  right:9rem;
  bottom:1rem;
}
.icon-eye{
  font-size:2rem;
  opacity: 0;
  transition: all 2s;
  position: absolute;
  color: #033472;
  bottom: 1rem;
  left: -20rem;
}
.product-preview{
  width:100%;
  height:100%;
  margin-top: 2rem;
}
.icon-add-cart{
  position: absolute;
  right:-20rem;
  opacity: 0;
  bottom: 1rem;
  transition: all 2s;
  cursor: pointer;
}
.loader {
  color: #FFF;
  position: relative;
  display: inline-block;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  letter-spacing: 4px;
  box-sizing: border-box;
}
.loader::before {
  content: '';  
  position: absolute;
  right: 70px;
  bottom: 10px;
  height: 28px;
  width: 5.15px;
  background: currentColor;
  box-sizing: border-box;
  animation: animloader1 1s linear infinite alternate;
}
.loader::after {
  content: '';  
  width: 10px;
  height: 10px;
  position: absolute;
  left: 125px;
  top: 2px;
  border-radius: 50%;
  background: rgb(25, 0, 255);
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}
.loading{
  display:block;
  position: relative;
  z-index: 99999999;
  background-color: #060a11;
}
.text{
  color: #e2e6f3;
  font-size: 0.9rem;
}
.footer{
  background-color: #033472 !important;
  padding:1rem 1rem;
  bottom: 0;
}
.loader-two {
  width: 48px;
  height: 48px;
  margin :1rem ;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color:#0029de #0000 #fff #0000;
  border-radius: 50%;
  box-sizing: border-box;
  animation: 1s rotate linear infinite;
}
.loader-two:before , .loader-two:after{
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color:#fff;
  transform: translate(-10px, 19px) rotate(-35deg);
}
.loader-two:after {
  border-color: #0034de #0000 #0000 #0000 ;
  transform: translate(32px, 3px) rotate(-35deg);
}
@media screen and (min-width:500px) {
html{
  font-size:18px;
}
#purchase-data {
width:28rem;
}
}
@media screen and (min-width:500px) and (max-width:759px) {
  html{
    font-size:15px;
  }
}
@media screen and (min-width:759px) and (max-width:959px) {
  html{
      font-size:15px;
  }
}
@media screen and (min-width:959px){
  html{
      font-size:16px;
  }
}

@keyframes animloader {
  0% {
    transform: translate(0px, 0px) scaleX(1);
  }
  14% {
    transform: translate(-12px, -16px) scaleX(1.05);
  }
  28% {
    transform: translate(-27px, -28px) scaleX(1.07);
  }
  42% {
    transform: translate(-46px, -35px) scaleX(1.1);
  }
  57% {
    transform: translate(-70px, -37px) scaleX(1.1);
  }
  71% {
    transform: translate(-94px, -32px) scaleX(1.07);
  }
  85% {
    transform: translate(-111px, -22px) scaleX(1.05);
  }
  100% {
    transform: translate(-125px, -9px) scaleX(1);
  }
}

@keyframes animloader1 {
  0% {
    box-shadow: 0 -6px, -122.9px -8px;
  }
  25%, 75% {
    box-shadow: 0 0px, -122.9px -8px;
  }
  100% {
    box-shadow: 0 0px, -122.9px -16px;
  }
}

.spinner{
  z-index:999999999;
  background-color: #060a11;
}
@keyframes rotate {
  100%{    transform: rotate(360deg)}
}